<!-- <div class="dropdown" *ngIf="tabela.totalRecords > 0"> -->
<!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Exportar
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (onClick)="exportarPDF()">PDF</a>
        <a class="dropdown-item" (onClick)="exportarExcel()">EXCEL</a>
        <a class="dropdown-item" (onClick)="imprimir()">Imprimir</a>
    </div>
</div> -->

<div>
    <button mat-raised-button color="primary" type="button" (click)="exportarPDF()">Exportar</button>
</div>